
body{
	font-family:Sans-Serif;
	align-content: center;
	text-align:center;
	margin:auto;
	background-image: url("background_Space.jpg");
	background-repeat: repeat-y;
	
}

tr:hover {background-color: #009000}


tr:nth-child(even) {background-color: #f2f2f2}
tr:nth-child(odd) {background-color: #022220}



th {
    background-color: #4CAF50;
    color: white;
}


th, td {
    padding: 15px;
    text-align: center;
}

table{
	text-align:center;
	align-content: center;
	margin:auto;
}